@inherits BaseUpdatePage<SelectCompanyDto, SelectCompanyDto,ListCompanyDto,
                        CreateCompanyDto,UpdateCompanyDto>

@inject CompanyService Service
@inject AppService AppService
@inject CompanyAppService CrudService
@inject NavigationManager NavigationManager

<DevPopupPageLayout ActionButtonEnabled="true"
                    ActionButtonText="@L["Save"]"
                    ActionButtonVisible="true"
                    ActionButtonInvokeFunction="Save"
                    CancelButtonVisible="false"
                    Caption="@L["Company"]"
                    Closing="ClosingAsync"
                    CloseOnEscape="false"
                    Height="300px"
                    ShowCloseButton="false"
                    Visible="true"
                    Width="1000px">
    <PageContent>
        <DevGridLayout ColumnCount="8"
                       ColumnWidths="@ColumnWidths("80","3","300","120","3","300","3","100")"
                       RowCount="10">
            <GridLayoutItems>
                <DevTextEdit Caption="@L["Name"]"
                             ColumnIndex="2"
                             IsFocus="true"
                             NullText="@L["EnterName"]"
                             RowIndex="0"
                @bind-Value="@AppService.Company.Name">
                </DevTextEdit>
                <DevTelephoneEdit Caption="@L["Telephone"]"
                                  ColumnIndex="2"
                                  NullText="@L["EnterTelephone"]"
                                  RowIndex="1"
                @bind-Value="@AppService.Company.Telephone">
                </DevTelephoneEdit>
                <DevTextEdit Caption="@L["Email"]"
                             ColumnIndex="2"
                             NullText="@L["EnterEmail"]"
                             RowIndex="2"
                @bind-Value="@AppService.Company.Email">
                </DevTextEdit>
                <DevTextEdit Caption="@L["WebAddress"]"
                             ColumnIndex="2"
                             NullText="@L["EnterWebAddress"]"
                             RowIndex="3"
                @bind-Value="@AppService.Company.WebAddress">
                </DevTextEdit>
                <DevTextEdit Caption="@L["Address"]"
                             ColumnIndex="2"
                             NullText="@L["EnterAddress"]"
                             RowIndex="4"
                @bind-Value="@AppService.Company.Address">
                </DevTextEdit>
                <DevTextEdit Caption="@L["Bank"]"
                             ColumnIndex="5"
                             NullText="@L["EnterBank"]"
                             RowIndex="0"
                @bind-Value="@AppService.Company.Bank">
                </DevTextEdit>
                <DevTextEdit Caption="@L["BankDepartment"]"
                             ColumnIndex="5"
                             NullText="@L["EnterBankDepartment"]"
                             RowIndex="1"
                @bind-Value="@AppService.Company.BankDepartment">
                </DevTextEdit>
                <DevTextEdit Caption="@L["BankAccountNumber"]"
                             ColumnIndex="5"
                             NullText="@L["EnterBankAccountNumber"]"
                             RowIndex="2"
                @bind-Value="@AppService.Company.BankAccountNumber">
                </DevTextEdit>
                <DevIbanNoEdit Caption="@L["Iban"]"
                               ColumnIndex="5"
                               NullText="@L["EnterIban"]"
                               RowIndex="3"
                @bind-Value="@AppService.Company.BankIbanNumber">
                </DevIbanNoEdit>
                <DxGridLayoutItem Column="7"
                                  Row="0">
                    <Template>
                        <DevGridLayout ColumnCount="1"
                                       ColumnWidths="@ColumnWidths("100")"
                                       RowCount="2"
                                       RowHeights="@RowHeights("150","25")">
                            <GridLayoutItems>
                                <DxGridLayoutItem Column="0"
                                                  Row="0">
                                    <Template>
                                        <div style="max-width: 90px; max-height: 140px;">
                                            <img src="@AppService.Company.LogoUrl" style="max-width: 90px; max-height: 140px;" />
                                        </div>
                                    </Template>
                                </DxGridLayoutItem>
                                <DxGridLayoutItem Column="0"
                                                  Row="1">
                                    <Template>
                                        <DxUpload Name="myFile"
                                                  MaxFileSize="4000000"
                                                  SelectButtonText="@L["SelectLogo"]"
                                                  AcceptedFileTypes="@(new List<string> { ".jpg", ".jpeg", ".gif", ".png" })"
                                                  AllowedFileExtensions="@(new List<string> { ".jpg", ".jpeg", ".gif", ".png" })"
                                                  ShowFileList="false"
                                                  UploadUrl="@GetUploadUrl("api/Upload/Upload/")"
                                                  SelectedFilesChanged="@SelectedFilesChanged"             
                                                  FileUploaded="@FileUploaded"
                                                  CssClass="@(SelectedFilesCount > 0 ? "w-100" : string.Empty)">
                                        </DxUpload>
                                    </Template>
                                </DxGridLayoutItem>
                            </GridLayoutItems>
                        </DevGridLayout>
                    </Template>
                </DxGridLayoutItem>
            </GridLayoutItems>
        </DevGridLayout>
    </PageContent>
</DevPopupPageLayout>