@inject IStringLocalizer<AccountancyResource> L

<div class="card w-100 text-white bg-dark">
    <div class="accordion-body p-0">
        <DxMenu Title="@($"MK {L["Pre-Accounting"]}")"
                ItemsPosition="ItemPosition.Start"
                CollapseItemsToHamburgerMenu="true">

                <Items>
                    <DxMenuItem Text="@L["Home"]"
                                NavigateUrl="/"
                                IconCssClass="fa fa-home"
                                BeginGroup="true"/>
                    <DxMenuItem Text="@L["Cards"]"
                                IconCssClass="fa fa-clone">
                        <Items>
                            <DxMenuItem Text="@L["UnitCards"]"
                                NavigateUrl="unitcards"
                                IconCssClass="fa fa-clone"/>

                            <DxMenuItem Text="@L["BankCards"]"
                                    NavigateUrl="bankcards"
                                    IconCssClass="fa fa-clone"/>

                            <DxMenuItem Text="@L["BankAccountCards"]"
                                    NavigateUrl="bankaccountcards"
                                    IconCssClass="fa fa-clone"/>

                            <DxMenuItem Text="@L["CustomerCards"]"
                                    NavigateUrl="currentcards"
                                    IconCssClass="fa fa-clone"/>

                            <DxMenuItem Text="@L["CashCards"]"
                                    NavigateUrl="cashcards"
                                    IconCssClass="fa fa-clone"/>

                            <DxMenuItem Text="@L["WarehouseCards"]"
                                    NavigateUrl="storecards"
                                    IconCssClass="fa fa-clone"/>

                            <DxMenuItem Text="@L["StockCards"]"
                                    NavigateUrl="stockcards"
                                    IconCssClass="fa fa-clone"/>

                            <DxMenuItem Text="@L["ServiceCards"]"
                                    NavigateUrl="servicecards"
                                    IconCssClass="fa fa-clone"/>

                            <DxMenuItem Text="@L["ExpenseCards"]"
                                    NavigateUrl="expensecards"
                                    IconCssClass="fa fa-clone"/>

                            <DxMenuItem Text="@L["BranchCards"]"
                                    NavigateUrl="departmentcards"
                                    IconCssClass="fa fa-clone"/>

                            <DxMenuItem Text="@L["PeriodCards"]"
                                    NavigateUrl="termcards"
                                    IconCssClass="fa fa-clone" />
                        </Items>
                    </DxMenuItem>

                    <DxMenuItem Text="@L["Invoices"]"
                            IconCssClass="fas fa-file-invoice">
                        <Items>
                            <DxMenuItem Text="@L["PurchaseInvoices"]"
                                    NavigateUrl="purchaseinvoicecards"
                                    IconCssClass="fas fa-file-invoice" />

                            <DxMenuItem Text="@L["SalesInvoices"]"
                                    NavigateUrl="salesinvoicecards"
                                    IconCssClass="fas fa-file-invoice" />
                        </Items>
                    </DxMenuItem>

                    <DxMenuItem Text="@L["Receipts"]"
                            IconCssClass="fas fa-receipt">
                        <Items>
                            <DxMenuItem Text="@L["CollectionReceipts"]"
                                    NavigateUrl="collectionreceiptcards"
                                    IconCssClass="fas fa-receipt" />

                            <DxMenuItem Text="@L["PaymentReceipts"]"
                                    NavigateUrl="paymentreceiptcards"
                                    IconCssClass="fas fa-receipt" />

                            <DxMenuItem Text="@L["CashTransactionReceipts"]"
                                    NavigateUrl="cashtransactionreceiptcards"
                                    IconCssClass="fas fa-receipt" />

                            <DxMenuItem Text="@L["BankTransactionReceipts"]"
                                    NavigateUrl="banktransactionreceiptcards"
                                    IconCssClass="fas fa-receipt" />
                        </Items>
                    </DxMenuItem>

                    <DxMenuItem Text="@L["MeansOfPayment"]"
                            IconCssClass="fa fa-money-check">
                        <Items>
                            <DxMenuItem Text="@L["MeansOfPayment"]"
                                    NavigateUrl="meansofpayment"
                                    IconCssClass="fa fa-money-check" />

                            <DxMenuItem Text="@L["ReceiveMeansOfPayment"]"
                                    NavigateUrl="receivemeansofpayment"
                                    IconCssClass="fa fa-money-check" />

                            <DxMenuItem Text="@L["OurOwnMeansOfPayment"]"
                                    NavigateUrl="ourownmeansofpayment"
                                    IconCssClass="fa fa-money-check" />
                        </Items>
                    </DxMenuItem>

                    <DxMenuItem Text="@L["Parameters"]"
                            IconCssClass="fas fa-clipboard-check">
                        <Items>
                            <DxMenuItem Text="@L["CompParameters"]"
                                    Click="()=>{}"
                                    IconCssClass="fas fa-clipboard-check" />
                        </Items>
                    </DxMenuItem>

                <DxMenuItem Text="@L["Administration"]"
                            IconCssClass="fas fa-wrench">
                    <Items>
                            <DxMenuItem Text="@L["TenantManagement"]"
                                    IconCssClass="fas fa-user">
                                <Items>
                                    <DxMenuItem Text="@L["Tenants"]"
                                            NavigateUrl="tenant-management/tenants"
                                            IconCssClass="fas fa-user" />
                                </Items>
                            </DxMenuItem>

                            <DxMenuItem Text="@L["IdentityManagement"]"
                                    IconCssClass="fas fa-user-lock">
                                <Items>
                                        <DxMenuItem Text="@L["Roles"]"
                                            NavigateUrl="Identity/Roles"
                                            IconCssClass="fas fa-user-lock" />

                                        <DxMenuItem Text="@L["Users"]"
                                            NavigateUrl="Identity/Users"
                                            IconCssClass="fas fa-user-lock" />
                                    
                                </Items>
                            </DxMenuItem>
                        

                            <DxMenuItem Text="@L["Settings"]"
                                    NavigateUrl="setting-management"
                                    IconCssClass="fas fa-cog" />
                    </Items>
                </DxMenuItem>

                <DxMenuItem Click="()=>{}"
                            Position="ItemPosition.End"
                            BeginGroup="true">
                    <TextTemplate>
                        <i class="far fa-building pe-2" />

                        <i class="ps-3 fas fa-minus pe-3" />

                        <i class="fas fa-calendar-alt pe-2" />
           
                    </TextTemplate>
                </DxMenuItem>
                </Items>
        </DxMenu>
    </div>
</div>

@code {

}
