@page "/"
@using MK.Accountancy.Reports;

@inject IStringLocalizer<AccountancyResource> L
@inject ICurrentUser CurrentUser
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject AppService AppService
@inject OrganizationParameterAppService CompanyParameterAppService
@inject FinancialStatuAppService FinancialStatuAppService

<AuthorizeView>
    <Authorized>
        @if (isShowCompanyParameter)
        {
            <DepartmentTermSelectEditPage />
        }
        else
        {
            AppService.HasChanged();
        }
        <h4 class="pt-4 pb-4" style="text-align:center;font-weight:bold;font-family:Roboto Condensed, Arial, Helvetica, sans-serif">@L["FinancialStatusSummary"]</h4>
        <DevGridLayout ColumnCount="5"
                       ColumnWidths="@ColumnWidths("*","10px","*","10px","*")"
                       RowCount="3"
                       RowHeights="@RowHeights("*","10px","*")">
            <GridLayoutItems>
                <DxGridLayoutItem Column="0"
                                  Row="0">
                    <Template>
                        <div class="card">
                            <DxChart Data="SafeStatu">
                                <DxChartTitle Text="@L["CashStatusChart"]" />
                                <DxChartLegend HorizontalAlignment="HorizontalAlignment.Right"
                                               Orientation="DevExpress.Blazor.Orientation.Vertical"
                                               Position="RelativePosition.Outside"
                                               VerticalAlignment="VerticalEdge.Top" />
                                <DxChartPieSeries ArgumentField="@((FinancialStatusDto x) => x.Description)"
                                                  ValueField="@((FinancialStatusDto x)=> x.Price)">
                                                  <DxChartSeriesLabel Format="ChartElementFormat.Decimal(2)" 
                                                  Visible="true"/>
                                </DxChartPieSeries>
                            </DxChart>
                        </div>
                    </Template>
                </DxGridLayoutItem>
                <DxGridLayoutItem Column="2"
                                  Row="0">
                    <Template>
                        <div class="card">
                            <DxChart Data="BankStatu">
                                <DxChartTitle Text="@L["BankStatusChart"]" />
                                <DxChartLegend HorizontalAlignment="HorizontalAlignment.Right"
                                               Orientation="DevExpress.Blazor.Orientation.Vertical"
                                               Position="RelativePosition.Outside"
                                               VerticalAlignment="VerticalEdge.Top" />
                                <DxChartPieSeries ArgumentField="@((FinancialStatusDto x) => x.Description)"
                                                  ValueField="@((FinancialStatusDto x)=> x.Price)">
                                    <DxChartSeriesLabel Format="ChartElementFormat.Decimal(2)"
                                                        Visible="true" />
                                </DxChartPieSeries>
                            </DxChart>
                        </div>
                    </Template>
                </DxGridLayoutItem>
                <DxGridLayoutItem Column="4"
                                  Row="0">
                    <Template>
                        <div class="card">
                            <DxChart Data="PaymentDocumentsDistribution">
                                <DxChartTitle Text="@L["PaymentDocumentsDistributionChart"]" />
                                <DxChartLegend HorizontalAlignment="HorizontalAlignment.Right"
                                               Orientation="DevExpress.Blazor.Orientation.Vertical"
                                               Position="RelativePosition.Outside"
                                               VerticalAlignment="VerticalEdge.Top" />
                                <DxChartPieSeries ArgumentField="@((FinancialStatusDto x) => x.Description)"
                                                  ValueField="@((FinancialStatusDto x)=> x.Price)">
                                    <DxChartSeriesLabel Format="ChartElementFormat.Decimal(2)"
                                                        Visible="true" />
                                </DxChartPieSeries>
                            </DxChart>
                        </div>
                    </Template>
                </DxGridLayoutItem>
                <DxGridLayoutItem Column="0"
                                  Row="2">
                    <Template>
                        <div class="card">
                            <DevPageHeader Caption="@L["LastTenTransactionsTradedInTheCashier"]"
                                           CssClass="bg-danger text-white"
                                           TextAlign="Center" />
                            <DxDataGrid @ref="SafeGrid"
                                        AllowSort="false"
                                        AllowColumnDragDrop="false"
                                        Data="SafeLastTenActs"
                                        DataNavigationMode="DataGridNavigationMode.ShowAllDataRows"
                                        HorizontalScrollBarMode="ScrollBarMode.Visible"
                                        VerticalScrollableHeight="295">
                                <Column>
                                    <DxDataGridDateEditColumn Caption="@L["Date"]"
                                                              DisplayFormat="@L["DateFormat"]"
                                                              Field="@nameof(FinanceMoventDto.Date)"
                                                              TextAlignment="DataGridTextAlign.Center"
                                                              Width="80px" />
                                    <DxDataGridColumn Caption="@L["ReceiptNo"]"
                                                      Field="@nameof(FinanceMoventDto.ReceiptNo)"
                                                      Width="120px" />
                                    <DxDataGridSpinEditColumn Caption="@L["Debt"]"
                                                              DisplayFormat="@L["n2"]"
                                                              Field="@nameof(FinanceMoventDto.Debt)"
                                                              Width="100px" />
                                    <DxDataGridSpinEditColumn Caption="@L["Receivable"]"
                                                              DisplayFormat="@L["n2"]"
                                                              Field="@nameof(FinanceMoventDto.Receivable)"
                                                              Width="100px" />
                                    <DxDataGridColumn Caption="@L["Description"]"
                                                      Field="@nameof(FinanceMoventDto.Description)"
                                                      Width="300px" />
                                </Column>
                            </DxDataGrid>
                        </div>
                    </Template>
                </DxGridLayoutItem>
                <DxGridLayoutItem Column="2"
                                  Row="2">
                    <Template>
                        <div class="card">
                            <DevPageHeader Caption="@L["LastTenTransactionsTradedInTheBank"]"
                                           CssClass="bg-danger text-white"
                                           TextAlign="Center" />
                            <DxDataGrid @ref="BankGrid"
                                        AllowSort="false"
                                        AllowColumnDragDrop="false"
                                        Data="BankLastTenActs"
                                        DataNavigationMode="DataGridNavigationMode.ShowAllDataRows"
                                        HorizontalScrollBarMode="ScrollBarMode.Visible"
                                        VerticalScrollableHeight="295">
                                <Column>
                                    <DxDataGridDateEditColumn Caption="@L["Date"]"
                                                              DisplayFormat="@L["DateFormat"]"
                                                              Field="@nameof(FinanceMoventDto.Date)"
                                                              TextAlignment="DataGridTextAlign.Center"
                                                              Width="80px" />
                                    <DxDataGridColumn Caption="@L["ReceiptNo"]"
                                                      Field="@nameof(FinanceMoventDto.ReceiptNo)"
                                                      Width="120px" />
                                    <DxDataGridSpinEditColumn Caption="@L["Debt"]"
                                                              DisplayFormat="@L["n2"]"
                                                              Field="@nameof(FinanceMoventDto.Debt)"
                                                              Width="100px" />
                                    <DxDataGridSpinEditColumn Caption="@L["Receivable"]"
                                                              DisplayFormat="@L["n2"]"
                                                              Field="@nameof(FinanceMoventDto.Receivable)"
                                                              Width="100px" />
                                    <DxDataGridColumn Caption="@L["Description"]"
                                                      Field="@nameof(FinanceMoventDto.Description)"
                                                      Width="300px" />
                                </Column>
                            </DxDataGrid>
                        </div>
                    </Template>
                </DxGridLayoutItem>
                <DxGridLayoutItem Column="4"
                                  Row="2">
                    <Template>
                        <div class="card">
                            <DevPageHeader Caption="@L["OverdueReceivables"]"
                                           CssClass="bg-danger text-white"
                                           TextAlign="Center" />
                            <DxDataGrid @ref="OverdueReceivablesGrid"
                                        AllowSort="false"
                                        AllowColumnDragDrop="false"
                                        Data="OverdueReceivables"
                                        DataNavigationMode="DataGridNavigationMode.ShowAllDataRows"
                                        HorizontalScrollBarMode="ScrollBarMode.Visible"
                                        VerticalScrollableHeight="295">
                                <Column>
                                    <DxDataGridColumn Caption="@L["PaymentType"]"
                                                      Field="@nameof(PaymentDocumentDto.PaymentTypeName)"
                                                      Width="110px" />
                                    <DxDataGridDateEditColumn Caption="@L["Date"]"
                                                              DisplayFormat="@L["DateFormat"]"
                                                              Field="@nameof(PaymentDocumentDto.ExpiryDate)"
                                                              TextAlignment="DataGridTextAlign.Center"
                                                              Width="80px" />
                                    <DxDataGridSpinEditColumn Caption="@L["Amount"]"
                                                              DisplayFormat="@L["n2"]"
                                                              Field="@nameof(PaymentDocumentDto.Price)"
                                                              Width="100px" />
                                    <DxDataGridColumn Caption="@L["Description"]"
                                                      Field="@nameof(PaymentDocumentDto.Description)"
                                                      Width="300px" />
                                </Column>
                            </DxDataGrid>
                        </div>
                    </Template>
                </DxGridLayoutItem>
            </GridLayoutItems>
        </DevGridLayout>
    </Authorized>
    <NotAuthorized>
        <div id="container">
            <div class="text">
                <h4>@L["IndexPage_1"]</h4>
                <h4>@L["IndexPage_2"]</h4>
                <h6 class="pt-2">@L["IndexPage_3"]</h6>

                <a class="btn btn-primary" href="/account/login">
                    <i class="fa fa-sign-in-alt pr-2"></i> @L["Login"]
                </a>

                <div class="card mt-4 mb-5">
                    <div class="card-body">
                        <div class="row text-center justify-content-md-center">
                            <div class="col-lg-4">
                                <div class="p-4">
                                    <h5 class="mb-3"><i class="fa fa-clone text-secondary d-block my-3 fa-2x"></i>@L["Cards"]</h5>
                                    <p>@L["IndexPage_4"]</p>
                                    <a href="/account/login" class="btn btn-link px-1">@L["MoreInformation"] <i class="fas fa-chevron-right"></i></a>
                                </div>
                            </div>
                            <div class="col-lg-4 border-left">
                                <div class="p-4">
                                    <h5 class="mb-3"><i class="fas fa-file-invoice text-secondary d-block my-3 fa-2x"></i> @L["Invoices"]</h5>
                                    <p>@L["IndexPage_5"]</p>
                                    <a href="/account/login" class="btn btn-link px-1">@L["MoreInformation"] <i class="fas fa-chevron-right"></i></a>
                                </div>
                            </div>
                            <div class="col-lg-4 border-left">
                                <div class="p-4">
                                    <h5 class="mb-3"><i class="fas fa-receipt text-secondary d-block my-3 fa-2x"></i> @L["Receipts"]</h5>
                                    <p>@L["IndexPage_6"]</p>
                                    <a href="/account/login" class="btn btn-link px-1">@L["MoreInformation"] <i class="fas fa-chevron-right"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="row text-center mt-lg-3 justify-content-md-center">
                            <div class="col-lg-4">
                                <div class="p-4">
                                    <h5 class="mb-3"><i class="fa fa-money-check text-secondary d-block my-3 fa-2x"></i>@L["PaymentTypes"]</h5>
                                    <p>@L["IndexPage_7"]</p>
                                    <a href="/account/login" class="btn btn-link px-1">@L["MoreInformation"] <i class="fas fa-chevron-right"></i></a>
                                </div>
                            </div>
                            <div class="col-lg-4 border-left">
                                <div class="p-4">
                                    <h5 class="mb-3"><i class="fas fa-poll text-secondary d-block my-3 fa-2x"></i>@L["Reports"]</h5>
                                    <p>@L["IndexPage_8"]</p>
                                    <a href="/account/login" class="btn btn-link px-1">@L["MoreInformation"] <i class="fas fa-chevron-right"></i></a>
                                </div>
                            </div>
                            <div class="col-lg-4 border-left">
                                <div class="p-4">
                                    <h5 class="mb-3"><i class="fas fa-wrench text-secondary d-block my-3 fa-2x"></i>@L["Authorization"]</h5>
                                    <p>@L["IndexPage_9"]</p>
                                    <a href="/account/login" class="btn btn-link px-1">@L["MoreInformation"] <i class="fas fa-chevron-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </NotAuthorized>
</AuthorizeView>

@code {
    private bool isShowCompanyParameter;
    private DxDataGrid<FinanceMoventDto> SafeGrid;
    private DxDataGrid<FinanceMoventDto> BankGrid;
    private DxDataGrid<PaymentDocumentDto> OverdueReceivablesGrid;

    private IList<FinanceMoventDto> SafeLastTenActs;
    private IList<FinanceMoventDto> BankLastTenActs;
    private IList<PaymentDocumentDto> OverdueReceivables;

    private IList<FinancialStatusDto> SafeStatu;
    private IList<FinancialStatusDto> BankStatu;
    private IList<FinancialStatusDto> PaymentDocumentsDistribution;

    protected override async Task OnParametersSetAsync()
    {
        if (CurrentUser.Id == null)
        {
            return;
        }
        //
        if (AppService.CompanyParameter.Id == Guid.Empty)
        {
            var compoanyParameter = await CompanyParameterAppService.GetAsync(CurrentUser.Id.Value);
            //
            if (compoanyParameter != null)
            {
                AppService.CompanyParameter = compoanyParameter;
                await Reports();
            }
            else
            {
                isShowCompanyParameter = true;
            }
        }
        else
        {
            await Reports();
        }
    }

    private async Task Reports()
    {
        SafeLastTenActs = await FinancialStatuAppService.SafeLastTenMovesListAsync(
            new ReceiptDetailListParameterDto
                {
                    DepartmentId = AppService.CompanyParameter.DepartmentId,
                    TermId = AppService.CompanyParameter.TermId
                }
        );
        //
        BankLastTenActs = await FinancialStatuAppService.BankLastTenMovesListAsync(
            new ReceiptDetailListParameterDto
                {
                    DepartmentId = AppService.CompanyParameter.DepartmentId,
                    TermId = AppService.CompanyParameter.TermId
                }
        );
        //
        SafeStatu = await FinancialStatuAppService.SafeStatuListAsync(
            new ReceiptDetailListParameterDto
                {
                    DepartmentId = AppService.CompanyParameter.DepartmentId,
                    TermId = AppService.CompanyParameter.TermId
                }
        );
        //
        BankStatu = await FinancialStatuAppService.BankStatuListAsync(
            new ReceiptDetailListParameterDto
                {
                    DepartmentId = AppService.CompanyParameter.DepartmentId,
                    TermId = AppService.CompanyParameter.TermId
                }
        );
        //
        PaymentDocumentsDistribution = await FinancialStatuAppService.DistributionoPaymentDocumentListAsync(
            new ReceiptDetailListParameterDto
                {
                    DepartmentId = AppService.CompanyParameter.DepartmentId,
                    TermId = AppService.CompanyParameter.TermId
                }
        );
        //
        OverdueReceivables = await FinancialStatuAppService.OverdueReceivablesListAsync(
            new ReceiptDetailListParameterDto
                {
                    DepartmentId = AppService.CompanyParameter.DepartmentId,
                    TermId = AppService.CompanyParameter.TermId
                }
        );
        //
        SafeGrid.SetDataRowSelected(SafeLastTenActs.FirstOrDefault(), true);
        BankGrid.SetDataRowSelected(BankLastTenActs.FirstOrDefault(), true);
        OverdueReceivablesGrid.SetDataRowSelected(OverdueReceivables.FirstOrDefault(), true);
    }
}